#contador {
     width: 100vw;
     height: 100vh;
     background-color: var(--backgroundColor);
     animation: changeBackColor forwards 3s linear;
     color: white;
}

@keyframes changeBackColor {
     from {
          background-color: var(--backgroundColor);
          background-image: var(--imageBackground);
     }
     to {
          background-color: #715898;
     }
}

.contadorNumeros::after {
     content: "";
     animation: 4s Numbers linear;
}

@media (orientation: landscape) {
     :root {
          --fontSizeContador: 8vw;
     }
}
@media (orientation: portrait) {
     :root {
          --fontSizeContador: 25vw;
     }
}

@keyframes Numbers {
     0% {
          content: "";
          font-size: 0;
     }
     30% {
          content: "3";
          font-size: var(--fontSizeContador);
     }
     32% {
          content: "";
          font-size: 0;
     }
     60% {
          content: "2";
          font-size: var(--fontSizeContador);
     }
     62% {
          content: "";
          font-size: 0;
     }
     90% {
          content: "1";
          font-size: var(--fontSizeContador);
     }
     100% {
          content: "1";
          font-size: calc(var(--fontSizeContador) - 2vw);
     }
}
