@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@500&display=swap");
:root {
     --backgroundColor: rgba(205, 187, 232, 1);
     --buttonCircleColor: rgb(135, 118, 159);
     --mainFont: "Baloo 2", Arial, sans-serif;
     --mainFontColor: black;
}

body {
     padding: 0;
     margin: 0;
}

.flex {
     display: flex;
     flex-direction: column;
     flex-wrap: wrap;
     align-items: center;
     justify-content: center;
}

.contenedor {
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
}

#question {
     width: 100vw;
     height: 100vh;
}

#question p {
     margin: 0px 0px 0px 0px;
     user-select: none;
}

#buttonDeslizador {
     background-color: var(--buttonCircleColor);
     position: absolute;
     z-index: 100;
}

#circuloFinal::before {
     content: "";
     width: 50%;
     height: 50%;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     border-radius: 50%;
     background-color: rgb(13, 13, 13);
}

#circuloFinal::after {
     content: "";
     width: 25%;
     height: 25%;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     border-radius: 50%;
     background-color: var(--backgroundColor);
}

#question {
     font-family: var(--mainFont);
     color: var(--mainFontColor);
}

.deslizador {
     overflow: hidden;
     border-radius: 100px;
}

#circuloFinal {
     position: relative;
     top: -100%;
}

.deslizador::after {
     animation: animationDeslizador 5s alternate infinite;
     content: "";
     position: absolute;
     width: 70%;
     bottom: 0;
     left: 50%;
     transform: translate(-48%);
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: end;
     color: black;
}

#contenedorButton {
     border-top-right-radius: 100px;
     border-bottom-right-radius: 100px;
     background-color: rgba(17, 17, 17, 1);
}

@keyframes animationDeslizador {
     0% {
          content: "- - - - - - -";
     }
     20% {
          content: "- - - - - - -";
     }
     30% {
          content: "- - - - - -";
     }
     40% {
          content: "- - - - -";
     }
     50% {
          content: "- - - -";
     }
     60% {
          content: "- - -";
     }
     70% {
          content: "- -";
     }
     80% {
          content: "-";
     }
     100% {
          content: "";
     }
}

@media (orientation: landscape) {
     #question {
          font-size: 5vw;
     }

     .deslizador::after {
          height: 5vw;
     }

     .contenedor {
          width: 30vw;
     }

     .deslizador {
          width: 100%;
          height: 5vw;
          border: 7px solid rgba(0, 0, 0, 1);
     }

     .deslizador::after {
          border: 7px solid rgba(0, 0, 0, 0);
     }

     #buttonDeslizador {
          position: absolute;
          left: calc(100% - 5vw);
     }

     #contenedorButton {
          width: 30vw;
          height: 5vw;
          position: relative;
          left: calc(-100% + 5vw);
          z-index: 2;
     }

     .circulo {
          width: 5vw;
          height: 5vw;
          border-radius: 50%;
     }

     #circuloFinal {
          left: calc(100% - 5vw);
     }
}

@media (orientation: portrait) {
     #question {
          font-size: 10vw;
     }

     .deslizador::after {
          height: 10vw;
     }

     .contenedor {
          width: 60vw;
     }

     .deslizador {
          width: 100%;
          height: 10vw;
          border: 3px solid rgba(0, 0, 0, 1);
     }

     .deslizador::after {
          border: 3px solid rgba(0, 0, 0, 0);
     }

     #buttonDeslizador {
          position: absolute;
          left: calc(100% - 10vw);
     }

     #contenedorButton {
          width: 60vw;
          height: 10vw;
          position: relative;
          left: calc(-100% + 10vw);
          z-index: 2;
     }

     .circulo {
          width: 10vw;
          height: 10vw;
          border-radius: 50%;
     }

     #circuloFinal {
          left: calc(100% - 10vw);
     }
}
